body {
      background-color: rgb(39, 39, 38);

}
nav{
   
    height:30px;
       display: flex;
    justify-content: space-between;
    align-items: center;

      

        background: rgba(255, 255, 255, 0.15);
    
   
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
  
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
 
      }
      nav a {
    color: white;
    text-decoration: none;
}

   
@media (max-width: 600px) {
    nav {
      display:flex;
   
        align-items: center;
        padding: 12px 15px;       
        gap: 10px;                
    }
}
h1{

    color:#97A87A;       
    font-size: 80px;    
    font-weight: bold;    

    margin-top: 15px; 
        padding-bottom : 150px;
}

      
 main {
     margin-top :10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
 

     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
}
@media (max-width: 600px) {
  h1{   
    font-size: 40px;  

}
p{
  font-size:30px;
}
   
   main section {
        width: 100%;
    }
    main {
       
      display:flex;
      
        padding: 12px 15px;     
        gap: 10px;      
         flex-direction: column;   
        align-items: center;   

    }
    #myVideo{
      width:350px;
    }
  }

#myVideo{
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
  
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    text-align: center;
    color: white;
   
}

